html{
	background-color: black;
}
header{
	font-family: 'Montserrat Alternates', sans-serif;
	background-color: black;
	margin-top: 60px;
}

header #name{
	background-color: rgb(197, 163, 75);
	width: 800px;
	height: 100px;
	nav-index: inherit;
}

header span{
	position: static;
}
header #title{
	background-color: #000;
	width: 100%;
	height: 100px;
	font-family: 'Poiret+One';
	text-justify: auto;
}
header img {
	border: .3em solid rgb(7, 0, 0);
	border-radius: 20;
	float: left;
	width: 7.4em;
	max-width: 250px;
	position: fixed;
	left: 50;
	/* padding: 10; */
	top: 2em;
}
header h1{
	margin: 35;
	color: #000;
	text-align: left;
	padding-top: 25px;
}
nav{
	background-color: rgba(15, 3, 3, 0.45);
	width: 800px;
	font-family: 'Montserrat Alternates', sans-serif;
}
nav ul{
	list-style: none;
	font-family: 'Montserrat Alternates', sans-serif;
	width: 900px;
	position: relative;
	text-align: left;
}

nav ul li{display: inline-block;font-family: 'Montserrat Alternates', sans-serif;}

nav ul li a{
	font-size: 15px;
	display: inherit;
	padding: 13px 0;
	margin: 0 10px;
	color: white;
	font-weight: 300;
	text-decoration: none;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 1.25em;
}
body{
	font-family: 'Montserrat Alternates', sans-serif;
	background-color: rgb(153,153,153);
	margin-left: 200;
	border-radius: 10px;
	width: 700px;
	padding-bottom: 2px;
}
#container{
	text-align: left;	/* background-color: gray; */
	/* border: .3em solid white; */
	
}

#container h4 {
	font-size: 1.5em;
	margin:20;
}

#container p{
	margin:40;
	font-size: 1.3em;
}
