header{
	font-family: 'Poiret+One';
	background-color: gray;
}

header #name{
	background-color: white;
	width: 100%;
	height: 100px;
	font-family: 'Poiret+One';
	margin-bottom: -16px;
}
header #title{
	background-color: black;
	width: 100%;
	height: 100px;
	font-family: 'Poiret+One';
	margin-bottom: -16px;
}
header img {
  border: .3em solid white;
  border-radius: 10%;
  float: left;
  width: 7.4em;
  max-width: 250px;
  position: absolute;
  right: 80%;
  top: 2em;
}
nav{
	background-color: gray;
	width: 60%;
	font-family: 'Poiret+One';
}
nav ul{list-style: none;}

nav ul li{display: inline-block;}

nav ul li a{
	font-size: 15px;
	display: inline-block;
	padding: 15px 0;
	margin: 0 20px;
	color: white;
	font-weight: 700;
	text-decoration: none;
	font-family: 'Poiret+One';
}
body{
	font-family: 'Poiret+One';
	background-color: gray;
}
.container{
	border: .3em solid white;
	border-radius: 15%;
}


