body {
	background-color: #BDBDBD;
}

#header h1 {
	font-style: bold;
	font-size: 14;
}

#textbox {
	background-color: #F5ECCE;
	
}

.article {
	border: 1px;
	border-color: #0B3B0B;
}
#textbox p {
	font-family: Verdana;
}


a:link {
	font-weight: bold;
	color: #0B3B0B;
}

a:visited {
	color: #6E6E6E;
}

a:hover {
	color: #FF8000;
}