body {
	background-color: #BDBDBD;
	margin: 30px;
}

#header h1 {
	font-style: bold;
	font-size: 14;
	font-family: Verdana;
}

#textbox {
	background-color: #F5ECCE;
	border-radius: 5px;
	width: 900px;
}

.article {
	border: 1px;
	border-color: #0B3B0B;
	width: 900px;
}
#textbox p {
	font-family: Verdana;
	font-size: 11;
	width: 900px;
}

img {
	border-radius:10px;
	width: 500px;
}
a:link {
	font-weight: bold;
	color: #0B3B0B;
}

a:visited {
	color: #6E6E6E;
}

a:hover {
	color: #FF8000;
}