body {
	background-color: #677466;
	margin: 50px;
	padding: 10px;
}

#header h1 {
	font-style: bold;
	font-size: 14;
	font-family: Verdana;
	color: rgb(224, 224, 224);
}



#textbox {
	background-color: #F5ECCE;
	border-radius: 5px;
	width: 950px;
	/* border: black; */
	border: 10px;
}



.article {
	border: 8px;
	border-color: #000000;
	width: 950px;
	padding: 15px;
}

#paragraph_heading h3 {
	font-style: bold;
	font-size: 12;
	font-family: Verdana;
	width: inherit; 
}
#textbox p {
	font-family: Verdana;
	font-size: 11;
	width: 900px;
}

#image img {
	border-radius:10px;
	width: 200px;
	margin: 10px;
}

#image2 img {
	border-radius: 5px;
	width: 70%;
}
a:link {
	font-weight: bold;
	color: #0B3B0B;
}

a:visited {
	color: #6E6E6E;
}

a:hover {
	color: #FF8000;
}