
body {font-size: 12;
}

#sidebar {
	float: left;
	margin: auto;
	padding: 12px;
	border-style: double;
	border: 2px green;
	font-size: 12;
}
#sidebar h1 {
	text-align: center;
}
#garden {
	position: relative;
	font-style: italic;
}
#image {
	position: relative;
	margin: auto;
	padding: 10px;
}

#image img {
	position: absolute;
	top:20;
	right:20;

}

#image p {
	position: absolute;
	color: #FFFFFF
	top: 20px;
	right: 20px;
	z-index: 1000;
}

a:link {
	font-size: 12;
	font-weight: bold;
	color: #0000ff;
}

a:visited {
	color: #0000ff;
}

a:active {
	color: #0000ff;
}

a:hover {
	color: #33C223;
}
#footer {
	position: fixed;
	font-size: 12;
	margin-bottom: 20px;
	padding: 1;
}