
body {font-size: 12;
}

#sidebar {
	float: left;
	margin-bottom: 10px;
	margin-right: 20px;
	padding: 12px;
	border-style: double;
	border: 2px green;
}
#sidebar h1 {

}
#garden {
	font-style: italic;
}
#image {
	position: relative;
}

#image img {
position: relative;
top: 0;
left:0;
}

#image p {
	float: right;
	top: 30px;
	left; 30px;
	z-index: 2
}

a:link {
	font-weight: bold;
	text-decoration: none;
	color: #0000ff;
}

a:visited {
	color: #0000ff;
}

a:active {
	color: #0000ff;
}

a:hover {
	color: #33C223;
}
#footer {
	margin-bottom: 20px;
	padding: 1;
}